.border{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.border1{
    width: 368px;
    height: 416px;
    margin: auto 0;
    padding: 48px 40px 36px;
    border: 2px solid rgb(216, 210, 210);
    background-color: white;
    font-family:Arial;
}
.google{
    width: 368px;
    height: 24px;
    text-align: center;
    font-size: 25px;
    font-family:Arial;
}
.login{
    width: auto;
    height:auto;    
    text-align: center;
    font-family:Arial;
}
.login2{
    width: auto;
    height:auto;    
    text-align: center;
    font-family:Arial;
}
.border2{
    width: 368px;
    height: 412px;
    margin: auto;
    background-color:white;
}
.sub{
    color: blue;
    font-family:Arial;
}
.sub1{
    color: rgb(255, 255, 255);
}
.sign_next{   
    display:flex;
    justify-content: space-between;
    font-family:Arial;
}

.email{
    margin 1px 1px;
    padding: 20px 20px ;
}